<h1>Make your form here</h1>
<form action="/pirates" method="post">
    <p>Pirate name: <input type"text" id="pirate_name" name="pirate[name]"></p>
    <p>Pirate weight: <input type"text" id="pirate_weight" name="pirate[weight]"></p>
    <p>Pirate height: <input type"text" id="pirate_height" name="pirate[height]"></p>
    <p>Pirate ship 1 name: <input type"text" id="ship_name_1" name="pirate[ships][][name]"></p>
    <p>Pirate ship 1 type : <input type"text" id="ship_type_1" name="pirate[ships][][type]"></p>
    <p>Pirate ship 1 booty: <input type"text" id="ship_booty_1" name="pirate[ships][][booty]"></p>    
    <p>Pirate ship 2 name: <input type"text" id="ship_name_2" name="pirate[ships][][name]"></p>
    <p>Pirate ship 2 type : <input type"text" id="ship_type_2" name="pirate[ships][][type]"></p>
    <p>Pirate ship 2 booty: <input type"text" id="ship_booty_2" name="pirate[ships][][booty]"></p>
    <input type="submit" id="Submit">
</form>